<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Home</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a th:href="@{/}">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a  th:href="@{/}">Início</a>
								</li>
								<li><a th:href="@{/}">Receitas</a>
									<ul class="sub-menu" sec:authorize="hasAuthority('ADIMIN')">
										<li><a th:href="@{/}" sec:authorize="hasAuthority('ADIMIN')">Versão de usuário</a></li>
										<li><a th:href="@{/receitas/gerenciadorReceitas}" sec:authorize="hasAuthority('ADIMIN')">Gerenciar Receitas</a></li>
									</ul>
								</li>
								<li><a th:href="@{/}" sec:authorize="hasAuthority('ADIMIN')">Gerenciar usuários</a>
								</li>
								<li>
									<div sec:authorize="!isAuthenticated()">
										<a th:href="@{/login}" class="boxed-btn">Login</a>
										<a th:href="@{/}" class="bordered-btn">Criar Conta</a>
									</div>
									<form th:action="@{/logout}" sec:authorize="isAuthenticated()"
									method="post">
									<li sec:authorize="isAuthenticated()" sec:authentication="name" ></li>			
									<input sec:authorize="isAuthenticated()" type="submit" value="Sair">
									</form>
								</li>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- hero area -->
	<div class="hero-area hero-bg" sec:authorize="isAuthenticated()">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2-index text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Seja bem vindo</p>
							<h1>As melhores receitas estão aqui</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->
	

	<!-- home page slider -->
	<div class="homepage-slider" sec:authorize="!isAuthenticated()">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">As melhores Receitas</p>
								<h1>Desfrute o seu momento</h1>
								<div class="hero-btns">
									<a th:href="@{/login}" class="boxed-btn">Login</a>
									<a th:href="@{/login}" class="bordered-btn">Criar Conta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Acesse receitas gratuitamente</p>
								<h1>100% Originais</h1>
								<div class="hero-btns">
									<a th:href="@{/login}" class="boxed-btn">Login</a>
									<a th:href="@{/login}" class="bordered-btn">Criar Conta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">TOP</span> Receitas</h3>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center" th:each="receita : ${receita}">
					<div class="single-product-item">
						<div class="product-image">
							<a th:href="@{/{id}(id=${receita.id})}"><img src="assets/img/products/product-img-1.jpg" alt=""></a>
						</div>
						<h3 th:text="${receita.nome}">Strawberry</h3>
						<p class="product-price"><span>Rendimento</span></p>
						<p class="product-price" th:text="${receita.rendimento}"><span>Rendimento</span></p>
						<a th:href="@{/{id}(id=${receita.id})}" class="cart-btn">Vizualizar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Baseado no projeto de Imran Hossain</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

</body>
</html>